{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "useJSXTextNode": true,
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "jsx": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "plugins": ["@typescript-eslint", "react", "react-hooks"],
  "rules": {
    "arrow-parens": [0, "as-needed"],
    "max-len": [1, { "code": 150, "ignoreUrls": true }],
    "no-unused-expressions": 1,
    "no-unused-vars": 1,
    "quotes": [1, "single"],
    "sort-imports": ["warn", { "ignoreDeclarationSort": true }],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/interface-name-prefix": [2, "never"],
    "@typescript-eslint/member-ordering": 1,
    "react-hooks/exhaustive-deps": "warn",
    "react-hooks/rules-of-hooks": "error"
  }
}
